{% extends 'worlds/base.html' %}

{% block title %}About | Lorekeeper{% endblock %}

{% block content %}
<section>
    <h1>About Lorekeeper</h1>
    <p>
        Lorekeeper is a worldbuilding organiser designed for writers, roleplayers, tabletop game masteres and creative hobbysists.
    </p>
</section>

<section>
    <h2> What is Lorekeeper?</h2>
    <p>
        Lorekeeper gives users a structured place to create and manage fictional worlds.
        Instead of keeping ideas scattered across notebooks, documents and random notes, users can store their worldbuilding content in one organised web application.
    </p>
    <p>
        Users can create worlds, add characters, record lore entries and choose whether their worlds should stay private or be shared publically for others to browse.
    </p>
</section>

<section>
    <h2>Who is it for?</h2>
    <p>
        Anyone can use Lorekeeper! It is built for creative people who need a simple way to organise fictional settings and story ideas.
    </p>

    <ul>
        <li>Writer can use Lorekeeper to keep track of their characters and worlds, and to store notes and ideas for their stories.</li>
        <li>Roleplayers can use Lorekeeper to create and manage their campaign settings, characters and lore.</li>
        <li>Tabletop game masters can use Lorekeeper to organise their game worlds, keep track of their players and characters, and to store notes and ideas for their campaigns.</li>
        <li>Creative hobbyists can collect lore, locations and ideas for their worldbuilding projects.</li>
    </ul>
</section>

<section>
    <h2>Why use it?</h2>
    <p>
        The aim of Lorekeeper is to make worldbuilding easy to manage and free!
        Users can keep related records connected to the same world, making it easier to find characters, lore and story ideas when they need them.
    </p>
</section>
{% endblock %}