{% extends "worlds/base.html" %}

{% block title %}{{ character.name }} | Lorekeeper{% endblock %}

{% block content %}
<h1>{{ character.name }}</h1>

<p>
    <strong>World:</strong>
    {{ world.title }}
</p>

{% if character.role %}
    <p>
        <strong>Role:</strong>
        {{ character.role }}
    </p>
{% endif %}

{% if character.species %}
    <p>
        <strong>Species:</strong>
        {{ character.species }}
    </p>
{% endif %}

{% if character.personality %}
    <h2>Personaltiy</h2>
    <p>{{ character.personality }}</p>
{% endif %}

{% if character.backstory %}
    <h2>Backstory</h2>
    <p>{{ character.backstory }}</p>
{% endif %}

<p>
    <strong>Created:</strong>
    {{ character.created_at }}
</p>

<p>
    <strong>Last updated:</strong>
    {{ character.updated_at }}
</p>

<p>
    <a href="{% url 'world_detail' world.id %}">
        Back to {{ world.title }}
    </a>
</p>
{% endblock %}