{% extends "worlds/base.html" %}

{% block title %}Public Worlds | Lorekeeper{% endblock %}

{% block content %}
<section>
    <h1>World Library</h1>

    <p>
        Browse a variety of fictional worlds here.
    </p>


    <form method="GET" action="{% url 'public_world_list' %}">
        <label for="q">Search public worlds</label>
        <input
            type="text"
            id="q"
            name="q"
            value="{{ query }}"
            placeholder="Search by title, summary, genre or tone"
        >

        <button type="submit">Search</button>

        {% if query %}
            <a href="{% url 'public_world_list' %}">Clear Search</a>
        {% endif %}
    </form>
</section>

<section>
    {% if query %}
        <h2>Search results for "{{ query }}"</h2>
    {% else %}
        <h2>All Public Worlds</h2>
    {% endif %}


    {% if worlds %}
        <ul>
            {% for world in worlds %}
                <li>
                    <h2>
                        <a href="{% url 'world_detail' world.id %}">
                            {{ world.title }}
                        </a>
                    </h2>

                    <p>
                        <strong>Genre:</strong>
                        {{ world.get_genre_display }}
                    </p>

                    <p>
                        <strong>Created by:</strong>
                        {{ world.owner.username }}
                    </p>

                    <p>
                        {{ world.summary }}
                    </p>

                    <p>
                        <a href="{% url 'world_detail' world.id %}">
                            View World
                        </a>
                    </p>
                </li>
            {% endfor %}
        </ul>
    {% else %}
        {% if query%}
            <p>
                No public worlds matched your search.
            </p>

            <p>
                <a href="{% url 'public_world_list' %}">
                    View all public worlds
                </a>
            </p>
        {% else %}
            <p>
                No public worlds have been shared yet.
            </p>

            {% if user.is_authenticated %}
                <p>
                    <a href="{% url 'world_create' %}">
                        Create a world and choose to make it public.
                    </a>
                </p>
            {% else %}
                <p>
                    <a href="{% url 'register' %}">
                        Register to create and share your own worlds.
                    </a>
                </p>
            {% endif %}
        {% endif %}
    {% endif %}
</section>
{% endblock %}