{% extends "worlds/base.html" %}

{% block title %}{{ world.title }} | Lorekeeper{% endblock %}

{% block content %}
<section>
    <h1>{{ world.title }}</h1>

    <p>
        <a href="{% url 'dashboard' %}">Back to Dashboard</a>
    </p>

    <p>
        <a href="{% url 'world_update' world.id %}">Edit World</a>
    </p>

    <p>
        <a href="{% url 'world_delete' world.id %}">Delete World</a>
    </p>
</section>


<section>
    <h2>World Details</h2>

    <p>
        <strong>Genre:</strong> {{ world.get_genre_display }}
    </p>

    <p>
        <strong>Status:</strong>
        {% if world.is_public %}
            Public
        {% else %}
            Private
        {% endif %}
    </p>

    <p>
        <strong>Summary:</strong>
    </p>
    <p>{{ world.summary }}</p>

    {% if world.main_conflict %}
        <p>
            <strong>Main Conflict:</strong>
        </p>
        <p>{{ world.main_conflict }}</p>
    {% endif %}

    {% if world.tone %}
        <p>
            <strong>Tone:</strong> {{ world.tone }}
        </p>
    {% endif %}

    <p>
        <strong>Created:</strong> {{ world.created_at|date:"d M Y, H:i" }}
    </p>

    <p>
        <strong>Last Updated:</strong> {{ world.updated_at|date:"d M Y, H:i" }}
    </p>
</section>


<section>
    <h2>Characters</h2>

    <p>
        <a href="{% url 'character_create' world.id %}">
            Add Character
        </a>
    </p>
    
    {% if world.characters.all %}
        <ul>
            {% for character in world.characters.all %}
                <li>
                    <a href="{% url 'character_detail' world.id character.id %}">
                        <strong>{{ character.name }}</strong>
                    </a>
                    
                    {% if character.role %}
                        - {{ character.role }}
                    {% endif %}

                    {% if character.species %}
                        ({{ character.species }})
                    {% endif %}
                </li>
            {% endfor %}
        </ul>
    {% else %}
        <p>No characters have been added to this world yet.</p>
    {% endif %}
</section>


<section>
    <h2>Lore Entries</h2>

    <p>
        <a href="{% url 'lore_entry_create' world.id %}">
            Add Lore Entry
        </a>
    </p>

    {% if world.lore_entries.all %}
        <ul>
            {% for lore_entry in world.lore_entries.all %}
                <li>
                    <strong>{{ lore_entry.title }}</strong>

                    - {{ lore_entry.get_category_display}}

                    {% if lore_entry.characcter %}
                        linked to {{ lore_entry.character.name }}
                    {% endif %}

                    {% if lore_entry.summary %}
                        <p>{{ lore_entry.summary }}</p>
                    {% endif %}
                </li>
            {% endfor %}
        </ul>
    {% else %}
        <p>No lore entries have been added to this world yet.</p>
    {% endif %}
</section>
{% endblock %}
